<h3 style="color:blue;">
    {{titulo}}
</h3>

<strong>Empleado estrella:</strong>
<br/><br/>

<div *ngIf="trabajador_externo == true">
    <button (click)="cambiarExterno(false)">Mostrar empleado</button>
    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <li *ngIf="trabajadores[0].contratado == true">Está contratado</li>
        <li *ngIf="trabajadores[0].contratado == false">No está contratado</li>
    </ul>
</div>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado == true">Está contratado</li>
        <li *ngIf="empleado.contratado == false">No está contratado</li>
    </ul>
</div>

<hr/>

<h3>Listado de Empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i + 1}}:</strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Está contratado</li>
            <li *ngIf="empleado.contratado == false">No está contratado</li>
        </ul>
    </li>
</ul>

<hr/>
<h3>Colores switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':color, 'color': 'white', 'padding': '20px'}">Es de color rojo</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'background':color, 'color': 'white', 'padding': '20px'}">Es de color verde</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color': 'white', 'padding': '20px'}">Es de color azul</li>
</ul>

<hr/>
<h3>Selector de colores</h3>
<button (click)="logColorSeleccionado()">Mostrar LOG</button>
<input type="text" [(ngModel)]="color_seleccionado"/>
<!--<pre 
    [style.border]="color_seleccionado == 'red' ? '5px solid black': '1px solid green'"
    [class.fondoAzul]="color_seleccionado == 'blue'"
    [ngClass]=""
>
<pre 
    [style.border]="color_seleccionado == 'red' ? '5px solid black': '1px solid green'"
    [ngClass]="{
        fondoAzul: color_seleccionado == 'blue',
        fondoVerde: color_seleccionado == 'green',
        letraGrande: 1 == 1
    }"
>-->
<!-- Estilos que nunca cambian-->
<pre 
    [style.border]="color_seleccionado == 'red' ? '5px solid black': '1px solid green'"
    [ngClass]="['fondoAzul', 'letraGrande']"
>
    <strong>Color elegido:</strong>
    {{color_seleccionado}}
</pre>
<div [ngStyle]="{'background':color_seleccionado, 'width': '200px', 'height': '200px', 'float':'right', 'margin-right':'69%'}"></div>
<div style="clear:both"></div>